<div class="header">
	<div class="h-content">
		<a class="logo fl" href="/">辩否</a>
		<div class="search-box fl">
			<input type="text" name="" placeholder="搜索辩题/辩手"> 
			<i></i>
		</div>
		<ul class="clear nav fl" id="head_nav">
			<li><a href="/">对论</a></li> 
			<li><a href="/subject">约辩</a></li>
			<li><a href="/debater">辩手</a></li>
		</ul>
		<!-- 未登录 -->
		<div class="login-box fr" id="login_no" style="display: none;"> 
			<a class="logo-wx fl" href="javascript:;" onclick="login()">登录</a>
			<a class="release-add fr" href="javascript:;" onclick="releaseQuestion()"></a>
			<div class="wx-login">
				<img class="fl" src="/static/img/2code.jpg">
				<p>扫 一 扫 <br>微信登录</p>
			</div>
		</div>

		<!-- 已登录 -->
		<div class="login-box fr" id="login_yes"> 
			<a class="clear fl user-box" id="user_edit" href="javascript:;" onclick="userEdit()">	
				<div class="u-head fl"><img src="/static/img/test/head.jpg"></div>
				<span>伯爵在城堡</span> 

				<ul style="display: none;">
					<li onclick="editUserInfo()">编辑资料</li>
					<li onclick="logout()">退  出</li>
				</ul>
			</a>
			<a class="release-add fr" href="javascript:;" onclick="releaseQuestion()"></a>
		</div>

	</div>
</div>



<!-- 发布对论 -->
<div class="dialog-wrap" id="dialog_wrap" style="display:none;">
	<h3 class="dialog-title"><span class="fl">发布对论</span> 
		<a class="fr close-btn" id="dialog_close" href="javascript:;" onclick="closeQuestion()">取消</a></h3>
	<div class="dilaog-content">
		<textarea class="area-title" placeholder="对论标题（30字以内，必填）"></textarea>
		<input type="text" name="" placeholder="正方观点（10字以内，必填）">
		<input type="text" name="" placeholder="反方观点（10字以内，必填）">
		<textarea class="area-summary" placeholder="详细描述（可不填）"></textarea> 
		<a class="blue-btn" href="javascrpt:;">发 &nbsp; &nbsp; 布</a>
	</div>
</div>

<!-- 编辑个人资料 -->
<div class="dialog-wrap" id="edit_user" style="display:none;">
	<h3 class="dialog-title"><span class="fl">编辑个人资料</span> 
		<a class="fr close-btn" id="dialog_close" href="javascript:;">取消</a></h3>
	<div class="dilaog-content">
		<input type="text" placeholder="我的昵称（8个字以内）">
		<input type="text" name="" placeholder="一句话描述自己（30字以内）">
		<a class="blue-btn" href="javascrpt:;">确 &nbsp; &nbsp; 定</a>
	</div>
</div>

<div class="dialog-bg" id="dialog_bg" style="display:none;"></div>


<div class="dialog-wx" id="wx_code" style="display:none;">
	<div>关注公众号，即可向Ta提问</div>
	<img src="/static/img/2code.jpg">
	<div class="graylight">(语音问答，获得分成)</div>
</div>
