<div class="header">
	<div class="h-content">
		<a class="logo fl" href="/index">辩否</a>
		<div class="search-box fl">
			<input type="text" name="" placeholder="搜索辩题/辩手"> 
			<i></i>
		</div>
		<ul class="clear nav fl" id="head_nav">
			<li><a href="/">对论</a></li> 
			<li><a href="/subject">约辩</a></li>
			<li><a href="#">辩手</a></li>
		</ul>
		<div class="login-box fr"> 
			<a class="logo-wx fl" href="javascript:;">登录</a>
			<a class="release-add fr" href="javascript:;"></a>
		</div>
	</div>
</div>