<div class="header">
	<div class="h-content">
		<a class="logo fl" href="/">辩否</a>
		<div class="search-box fl">
			<input type="text" name="" placeholder="搜索辩题/辩手"> 
			<i></i>
		</div>
		<ul class="clear nav fl" id="head_nav">
			<li><a href="/">对论</a></li> 
			<li><a href="/subject">约辩</a></li>
			<li><a href="#">辩手</a></li>
		</ul>
		<div class="login-box fr"> 
			<a class="logo-wx fl" href="javascript:;">登录</a>
			<a class="release-add fr" href="javascript:;"></a>
		</div>
	</div>
</div>


<!-- <div class="dialog-wrap" >
	<h3 class="dialog-title"><span class="fl">发布对论</span> <a class="fr" href="javascript:;">取消</a></h3>
	<div class="dilaog-content">
		<input type="text" name="" placeholder="对论标题（30字以内，必填）">
		<input type="text" name="" placeholder="正方观点（10字以内，必填）">
		<input type="text" name="" placeholder="反方观点（10字以内，必填）">
		<input type="text" name="" placeholder="详细描述（可不填）">
		<a class="blue-btn" href="javascrpt:;">发 &nbsp; &nbsp; 布</a>
	</div>
</div> -->