@import 'base';
@import 'layout';

.content-index{
	.tags{
		border-bottom:1px solid #e6e6e6; 
		padding-bottom:10px;

		li{
			float:left;
			display: inline-block;
			height:24px;
			border-radius:20px;
			line-height: 24px;
			padding:0 10px;
			color:$colorGray;
			margin-right:15px;  
			margin-bottom:5px;
			cursor:pointer;
		} 
		.current{
			background:$colorBlue;
			color:$colorWhite; 
		}
	}

	.topic-panel{
		border-bottom:1px solid #e6e6e6;  
		padding:20px 0; 

		h3{
			width:560px;
			font-size: 16px;
			font-weight:bold; 
			line-height: 30px;
		}
		.number{
			width:90px;
			color:$colorGray; 
			overflow: hidden;
			line-height: 30px; 
			text-align: right;
		}

		.topic-content{
		    margin-top: 10px;

		    .head{
				width:38px;
				height: 38px;
				overflow: hidden; 
				border-radius:50%; 

				img{width:100%; height:100%;}
			}
			.info{
				margin-left:50px;
			}
			.user-info{
				height: 30px;
				line-height: 26px;

				.count{
					display: inline-block;
					width:40px;
					height:18px;
					line-height: 18px;
					text-align:center; 
					background:#f2f2f2;  
					font-size: 12px;
				}
			}
			.user-name{
				color:$colorBlack;
				margin-right: 10px;
			}
			.user-summary{ 
				color:$colorGray; 
			}
			.summary{
				color:$colorGray;
				line-height: 20px;
			}
		}
	}
}

.recommend{
	h2{
		display: block;
		width:60px;
		height: 40px;
		line-height: 40px;
		border-bottom:3px solid #e6e6e6; 
		font-weight: bold;
	}	

	.rec-panel{
		padding:20px 0;
		border-bottom:1px solid #e6e6e6;

		.u-head{
			width: 50px;
		    height: 50px;
		    overflow: hidden;
		    border-radius: 50%; 

		    img{width:100%; height:100%;}

		}

		.u-info{
			margin-left:60px;
		}
		.u-name{
			line-height: 26px;
		}
		.u-summary{
			color:$colorGray;
			line-height: 16px;
		}

	}

	.contact-us{
		margin-top: 50px;
		font-size: 13px;

		.label{
			color:$colorGray;
			margin-left:100px;
		}
		.info{
			margin-top: 20px;
			margin-left:100px;
		}
		img{

		}
	}
}


