
.header{ 
	width:100%;
	height:60px;
	background:#000; 


	.h-content{ 
		width:1000px;
		height: 60px;
		margin: 0 auto;

		.logo{
			display: block;
			width:50px;
			height: 30px;
			background:url('/static/img/logo.png') no-repeat center; 
			margin-top: 15px;
			line-height: 99999;
			overflow: hidden; 
		}

		.nav{
			width:240px;

			li{
				float:left;
			}

			a{
				display: block;
				width:32px; 
				height: 57px;
				line-height: 60px;
				color:#a6a6a6; 
				border-bottom:3px solid #colorBlack;  
				margin-left:40px; 
				text-align: center;
			}
			.current{
				color:$colorBlue;
				border-bottom:3px solid $colorBlue;  
			}
		}
	}
	.search-box{
		position:relative;
		width:240px;
		height: 30px;
		margin-top: 15px; 
		margin-left:10px; 

		input[type="text"]{
			width:100%;
			height:30px;
			line-height: 30px;
			text-indent:15px; 
			border:0;
			border-radius:20px;
			background:#262626; 
			color:#fff;  
		}
		i{
			position:absolute;
			right:10px; 
			top:8px;
			display: block;
			width:16px;
			height: 16px;
			background:url('/static/img/search.png') no-repeat center;   
		}
	}
	.login-box{
		position:relative;
		width:260px;
		height:60px;

		.logo-wx{
			display: block;
			width:70px;
			height: 32px;
			line-height: 32px;
			text-align:right;
			margin-top: 15px; 
			color:#a6a6a6;
			background:url('/static/img/wx.png') no-repeat;  
		}

		.release-add{
			display: block;
			width:32px;
			height: 32px;
			margin-top:15px;
			background:url('/static/img/release.png') no-repeat center;  
		}

		.wx-login{
			position:absolute;
			bottom:-180px;
			left:0;
			width:200px;
			height:120px;
			padding:30px;
			background:#333;
			color:#fff;

			p{
				padding-left: 145px;
    			padding-top: 40px;
			}
		}

		.user-box{
			height: 60px;
		    line-height: 60px;
		    width: 130px;
		    text-align: center;
		    color:#a6a6a6;

			.u-head{
				display: inline-block;
				margin-top:10px;
				width: 37px;
			    height: 37px;
			    overflow: hidden;
			    border-radius: 50%;
			    line-height: 60px;
			}

			img{
				width: 100%;
    			height: 100%;
			}

			ul{
				height: 90px;
				li{
					width:100px;
					height: 40px;
					line-height: 40px;
					text-align: center;
					background:#262626;
				}
				li:hover{
					background:#1a1a1a;
				}
			}

		}
		
	}

}

.show-img{
	width:100%;
	height:180px;
	background:url('/static/img/show-img.jpg');
	background-size:cover;   
	color:#fff;
	text-align:center;

	h2{
		font-size: 24px;
		line-height: 40px;
		padding-top:60px;
	}
	p{
		color:$colorGray;
	}
}

.footer{
	width:100%;
	height:120px;
	background:$colorBlack;  
	text-align:center;  

	p{
		color:#d9d9d9; 
		padding-top:50px;
	}
}


.content-wrap{
	width:1000px;
	min-height:700px;
	margin:0 auto;
	margin-bottom:50px;

	.content{
		width:650px;
		margin-top: 25px;
	}

	.recommend{
		width:260px;
		margin-top: 25px;
	}

	.loading{
		width:100%;
		text-align: center;

		img{
			margin:20px auto;
		}
	}
}



.dialog-wrap{
	position:fixed; 
	left:50%;
	top:50%;
	// margin-left:-290px;
	width:590px;
	padding:25px;
	background:#fff;
	z-index:1001;
	transform:translate(-50%,-50%);

	input[type="text"],textarea{
		background:#f2f2f2;
		margin:0;
	}
	input[type="text"]{
		width:590px;
		height: 40px;
		line-height: 40px;
		margin-bottom:15px;
		text-indent: 10px;
	}
	textarea{
		width:570px;
		padding:10px;
		height: 40px;
		line-height: 24px;
		margin-bottom:10px;
	}
	textarea.area-summary{
		height: 100px;
	}
	.blue-btn{
		display: block;
		width:100%;
		height: 40px;
		line-height: 40px;
		background:#4f92fb;
		border:0;
		border-radius:20px;
		text-align: center;
		color:#fff;
	}

	h3.dialog-title{
		display: block;
		height: 40px;

		.close-btn:hover{ 
			color:$colorBlue;  
		}
	}

}

.dialog-bg{ 
	position:fixed; 
	left:0;
	top:0; 
	width:100%;
	height:100%;
	background:#000;
	opacity:0.5;
	z-index:1000;
}

.dialog-wx{
	position:fixed; 
	left:50%;
	top:50%;
	width:200px;
	height:200px;
	padding:60px;
	background:#fff;
	z-index:1001;
	transform:translate(-50%,-50%);
	text-align:center;
	box-shadow: 0px 0px 10px #666;
	line-height: 35px;
}