
.header{ 
	width:100%;
	height:60px;
	background:#000; 


	.h-content{ 
		width:1000px;
		height: 60px;
		margin: 0 auto;

		.logo{
			display: block;
			width:50px;
			height: 30px;
			background:url('/static/img/logo.png') no-repeat center; 
			margin-top: 15px;
			line-height: 99999;
			overflow: hidden; 
		}

		.nav{
			width:240px;

			li{
				float:left;
			}

			a{
				display: block;
				width:32px; 
				height: 57px;
				line-height: 60px;
				color:#a6a6a6; 
				border-bottom:3px solid #colorBlack;  
				margin-left:40px; 
				text-align: center;
			}
			.current{
				color:$colorBlue;
				border-bottom:3px solid $colorBlue;  
			}
		}
	}
	.search-box{
		position:relative;
		width:240px;
		height: 30px;
		margin-top: 15px; 
		margin-left:10px; 

		input[type="text"]{
			width:100%;
			height:30px;
			line-height: 30px;
			text-indent:15px; 
			border:0;
			border-radius:20px;
			background:#262626; 
			color:#fff;  
		}
		i{
			position:absolute;
			right:10px; 
			top:8px;
			display: block;
			width:16px;
			height: 16px;
			background:url('/static/img/search.png') no-repeat center;   
		}
	}
	.login-box{
		width:260px;
		height:60px;

		.logo-wx{
			display: block;
			width:70px;
			height: 32px;
			line-height: 32px;
			text-align:right;
			margin-top: 15px; 
			color:#a6a6a6;
			background:url('/static/img/wx.png') no-repeat;  
		}

		.release-add{
			display: block;
			width:32px;
			height: 32px;
			margin-top:15px;
			background:url('/static/img/release.png') no-repeat center;  
		}
	}

}

.show-img{
	width:100%;
	height:180px;
	background:url('/static/img/show-img.jpg');
	background-size:cover;   
	color:#fff;
	text-align:center;

	h2{
		font-size: 24px;
		line-height: 40px;
		padding-top:60px;
	}
	p{
		color:$colorGray;
	}
}

.footer{
	width:100%;
	height:120px;
	background:$colorBlack;  
	text-align:center;  

	p{
		color:#d9d9d9; 
		padding-top:50px;
	}
}


.content-wrap{
	width:1000px;
	min-height:700px;
	margin:0 auto;
	margin-bottom:50px;

	.content{
		width:650px;
		margin-top: 25px;
	}

	.recommend{
		width:260px;
		margin-top: 25px;
	}

	.loading{
		width:100%;
		text-align: center;

		img{
			margin:20px auto;
		}
	}
}



.dialog-wrap{
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-290px;
	width:590px;
	padding:25px;
	background:#fff;

	
}