@charset "UTF-8";
body, ul, ol, dl, li, dd, h1, h2, h3, h4, h5, h6, p, input {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
  font-family: "微软雅黑"; }

img {
  border: none; }

input, button, textarea, select {
  *font-size: 100%;
  border: none;
  resize: none;
  outline: none; }

body {
  background: #fff;
  color: #404040;
  font: 13px/24px '新宋体', SimSun, Arial; }

ul, ol {
  list-style: none;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:link, a:visited, a:active {
  text-decoration: none;
  color: #404040; }

[v-cloak] {
  display: none; }

.fl {
  float: left; }

.fr {
  float: right; }

.clear {
  zoom: 1; }

.clear:after {
  content: "";
  display: block;
  height: 0;
  visibility: visible;
  clear: both; }

.blue {
  color: #4f92fb; }

.red {
  color: #ff5043; }

.gray {
  color: #999; }

.graylight {
  color: #a6a6a6 !important; }

.f16 {
  font-size: 16px; }

.mt20 {
  margin-top: 20px; }

.mt10 {
  margin-top: 10px; }

.mt-10 {
  margin-top: -10px; }

.header {
  width: 100%;
  height: 60px;
  background: #000; }
  .header .h-content {
    width: 1000px;
    height: 60px;
    margin: 0 auto; }
    .header .h-content .logo {
      display: block;
      width: 50px;
      height: 30px;
      background: url("/static/img/logo.png") no-repeat center;
      margin-top: 15px;
      line-height: 99999;
      overflow: hidden; }
    .header .h-content .nav {
      width: 240px; }
      .header .h-content .nav li {
        float: left; }
      .header .h-content .nav a {
        display: block;
        width: 32px;
        height: 57px;
        line-height: 60px;
        color: #a6a6a6;
        border-bottom: 3px solid #colorBlack;
        margin-left: 40px;
        text-align: center; }
      .header .h-content .nav .current {
        color: #4f92fb;
        border-bottom: 3px solid #4f92fb; }
  .header .search-box {
    position: relative;
    width: 240px;
    height: 30px;
    margin-top: 15px;
    margin-left: 10px; }
    .header .search-box input[type="text"] {
      width: 100%;
      height: 30px;
      line-height: 30px;
      text-indent: 15px;
      border: 0;
      border-radius: 20px;
      background: #262626;
      color: #fff; }
    .header .search-box i {
      position: absolute;
      right: 10px;
      top: 8px;
      display: block;
      width: 16px;
      height: 16px;
      background: url("/static/img/search.png") no-repeat center; }
  .header .login-box {
    position: relative;
    width: 260px;
    height: 60px; }
    .header .login-box .logo-wx {
      display: block;
      width: 70px;
      height: 32px;
      line-height: 32px;
      text-align: right;
      margin-top: 15px;
      color: #a6a6a6;
      background: url("/static/img/wx.png") no-repeat; }
    .header .login-box .release-add {
      display: block;
      width: 32px;
      height: 32px;
      margin-top: 15px;
      background: url("/static/img/release.png") no-repeat center; }
    .header .login-box .wx-login {
      position: absolute;
      bottom: -180px;
      left: 0;
      width: 200px;
      height: 120px;
      padding: 30px;
      background: #333;
      color: #fff; }
      .header .login-box .wx-login p {
        padding-left: 145px;
        padding-top: 40px; }
    .header .login-box .user-box {
      height: 60px;
      line-height: 60px;
      width: 130px;
      text-align: center;
      color: #a6a6a6; }
      .header .login-box .user-box .u-head {
        display: inline-block;
        margin-top: 10px;
        width: 37px;
        height: 37px;
        overflow: hidden;
        border-radius: 50%;
        line-height: 60px; }
      .header .login-box .user-box img {
        width: 100%;
        height: 100%; }
      .header .login-box .user-box ul {
        height: 90px; }
        .header .login-box .user-box ul li {
          width: 100px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          background: #262626; }
        .header .login-box .user-box ul li:hover {
          background: #1a1a1a; }

.show-img {
  width: 100%;
  height: 180px;
  background: url("/static/img/show-img.jpg");
  background-size: cover;
  color: #fff;
  text-align: center; }
  .show-img h2 {
    font-size: 24px;
    line-height: 40px;
    padding-top: 60px; }
  .show-img p {
    color: #999; }

.footer {
  width: 100%;
  height: 120px;
  background: #404040;
  text-align: center; }
  .footer p {
    color: #d9d9d9;
    padding-top: 50px; }

.content-wrap {
  width: 1000px;
  min-height: 700px;
  margin: 0 auto;
  margin-bottom: 50px; }
  .content-wrap .content {
    width: 650px;
    margin-top: 25px; }
  .content-wrap .recommend {
    width: 260px;
    margin-top: 25px; }
  .content-wrap .loading {
    width: 100%;
    text-align: center; }
    .content-wrap .loading img {
      margin: 20px auto; }

.dialog-wrap {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 590px;
  padding: 25px;
  background: #fff;
  z-index: 1001;
  transform: translate(-50%, -50%); }
  .dialog-wrap input[type="text"], .dialog-wrap textarea {
    background: #f2f2f2;
    margin: 0; }
  .dialog-wrap input[type="text"] {
    width: 590px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 15px;
    text-indent: 10px; }
  .dialog-wrap textarea {
    width: 570px;
    padding: 10px;
    height: 40px;
    line-height: 24px;
    margin-bottom: 10px; }
  .dialog-wrap textarea.area-summary {
    height: 100px; }
  .dialog-wrap .blue-btn {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #4f92fb;
    border: 0;
    border-radius: 20px;
    text-align: center;
    color: #fff; }
  .dialog-wrap h3.dialog-title {
    display: block;
    height: 40px; }
    .dialog-wrap h3.dialog-title .close-btn:hover {
      color: #4f92fb; }

.dialog-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  z-index: 1000; }

.dialog-wx {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 200px;
  padding: 60px;
  background: #fff;
  z-index: 1001;
  transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: 0px 0px 10px #666;
  line-height: 35px; }

.content-subject {
  width: 960px; }
  .content-subject .sub-title {
    font-weight: bold;
    text-align: center;
    margin: 25px auto; }
  .content-subject .sub-title:after {
    content: ' ';
    display: block;
    width: 70px;
    height: 3px;
    margin: 10px auto;
    background: #e6e6e6; }
  .content-subject .sub-item {
    float: left;
    width: 430px;
    height: 115px;
    padding: 20px;
    background: #fff;
    margin-bottom: 25px;
    cursor: pointer; }
    .content-subject .sub-item .s-title {
      font-weight: bold;
      font-size: 16px;
      line-height: 30px; }
    .content-subject .sub-item .s-time {
      color: #999;
      font-size: 12px; }
      .content-subject .sub-item .s-time span {
        display: inline-block;
        height: 30px;
        line-height: 30px; }
    .content-subject .sub-item .s-count {
      margin-left: 20px;
      text-indent: 25px;
      background: url("/static/img/people.png") no-repeat;
      background-position: 0 4px; }
    .content-subject .sub-item .u-head {
      width: 48px;
      height: 48px;
      overflow: hidden;
      border-radius: 50%; }
      .content-subject .sub-item .u-head img {
        width: 100%;
        height: 100%; }
    .content-subject .sub-item .progress-box {
      display: block;
      width: 300px;
      margin-left: 20px; }
    .content-subject .sub-item .progress {
      position: relative;
      margin-top: 10px;
      height: 8px;
      background: #efefef;
      line-height: 40px; }
      .content-subject .sub-item .progress .left, .content-subject .sub-item .progress .right {
        display: block;
        position: absolute;
        top: 0;
        width: 50%;
        height: 8px; }
      .content-subject .sub-item .progress .left {
        left: 0;
        background: #4f92fb; }
      .content-subject .sub-item .progress .right {
        right: 0;
        background: #ff5043; }
  .content-subject .sub-item:nth-child(2n) {
    margin-left: 20px; }

/*# sourceMappingURL=subject.css.map */
