<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title><%=title%></title>

	<link rel="stylesheet" type="text/css" href="/static/css/detail.css">  
</head>
<body>
	<div id="root"> 
		<% include include/header.html %>
		
		<div class="content-wrap clear">
			<div class="content content-detail fl">
				 <div class="topic-title">
				 	<h2>这是一个很大的辩题，你猜猜是什么？？</h2>
				 	<div class="t-summary">如果你妈跟你老婆一起掉进河里，你先救谁？？
				 	如果你妈跟你老婆一起掉进河里，你先救谁？如果你妈跟你老婆一起掉进河里，你先救谁？？
				 	如果你妈跟你老婆一起掉进河里，你先救谁？？</div>
				 	<div class="viewpoint clear">
				 		<div class="fl w-p-20 tl"><a class="btn-blue" href="javascript:;">支持正方</a>
				 		<p class="gray">&nbsp;&nbsp;已支持</p></div>
				 		<div class="fr w-p-20 tr"><a class="btn-red" href="javascript:;">支持反方</a></div>
				 		<div class="progress-box w-p-60 fl">
				 			<div class="clear">
				 				<span class="fl">正：先救老婆</span>
				 				<span class="fr">正：先救老妈</span>
				 			</div>
				 			<div class="progress clear"> 
				 				<div class="pro-right fl"></div>
				 				<div class="pro-left fl"></div>
				 			</div>
				 			<div class="clear f16">
				 				<span class="fl blue">25525 人</span>
				 				<span class="fr red">88888 人</span>
				 			</div>
				 		</div>
				 	</div>
					<div class="graylight mt20">
						发布于<span>2015.2.2</span>&nbsp;
						共 <span class="gray">5555</span>个论述 &nbsp;
						分享于: <em class="share-wx"></em>  
					</div>
				 </div> 

				 <div class="topic-debate">
				 	<div class="support fl">
				 		<div class="head"><img src="/static/img/test/head.jpg"></div>
				 		<div class="support-txt">
				 			<p>555</p>
				 			<em class="suport-icon"></em>
				 		</div>
				 	</div>
				 	<div class="debate-info">
				 		<div class="user-info"><b>陈浩粉丝</b> <span class="graylight">支持正方，先救老婆</span></div>
						<div class="debate-summary"> 
							我觉得啊，必须先就老婆啊，因为我妈会游泳。
							我觉得啊，必须先就老婆啊，因为我妈会游泳。
							我觉得啊，必须先就老婆啊，因为我妈会游泳。
							我觉得啊，必须先就老婆啊，因为我妈会游泳。
							我觉得啊，必须先就老婆啊，因为我妈会游泳。
						</div>
						<div class="graylight mt10"> 
							<span>2015.12.12 &nbsp;&nbsp; 15:00</span> 
							<a class="fr graylight" href="javascript:;">回复</a> 
						</div>
				 	</div>
					<ul class="revert-list">
						<li class="clear revert-item">
							<div class="head fl"><img src="/static/img/test/head.jpg"></div>
							<div class="revert-info">
								<div class="graylight">会飞的鱼儿  回复  <span class="fr">34 赞</span></div>
								<div>我觉得啊，必须先就老婆啊，因为我妈会游泳。</div>
								<div>
									<span class="graylight">2016.2.2 13:00</span>
									<a class="fr graylight" href="javascript:;">回复</a> 
								</div>
							</div>
						</li>
						<li class="clear revert-item">
							<div class="head fl"><img src="/static/img/test/head2.jpg"></div>
							<div class="revert-info">
								<div class="graylight">会飞的鱼儿  回复  <span class="fr">34 赞</span></div>
								<div>我觉得啊，必须先就老婆啊，因为我妈会游泳。</div>
								<div class="mt10">
									<span class="graylight">2016.2.2 13:00</span>
									<a class="fr graylight" href="javascript:;">回复</a> 
									<div class="flex-text-wrap revert-input" >
										<pre><span></span></pre> 
    									<textarea class=" revert_input" placeholder="回复 会飞的鱼儿"></textarea> 
									</div>
								</div>
							</div>
						</li>
					</ul>
				 </div>

				 <div class="topic-debate">
				 	<div class="support support-r fr">
				 		<div class="head"><img src="/static/img/test/head.jpg"></div>
				 		<div class="support-txt">
				 			<p>555</p>
				 			<em class="suport-icon"></em>
				 		</div>
				 	</div>
				 	<div class="debate-info">
				 		<div class="user-info"><b>陈浩粉丝</b> <span class="graylight">支持正方，先救老婆</span></div>
						<div class="debate-summary"> 
							我觉得啊，必须先就老婆啊，因为我妈会游泳。
							我觉得啊，必须先就老婆啊，因为我妈会游泳。
							我觉得啊，必须先就老婆啊，因为我妈会游泳。
							我觉得啊，必须先就老婆啊，因为我妈会游泳。
							我觉得啊，必须先就老婆啊，因为我妈会游泳。 
						</div>
						<div class="graylight mt10"> 
							<span>2015.12.12 &nbsp;&nbsp; 15:00</span> 
							<a class="fr graylight" href="javascript:;">回复</a> 
							<div class="flex-text-wrap revert-input" >
								<pre><span></span></pre> 
								<textarea class=" revert_input" placeholder="回复 会飞的鱼儿"></textarea> 
							</div>
						</div>
				 	</div>
				 </div>
				 
				 <!-- <div class="loading" v-if="loading"><img src="/static/img/loading.gif"></div> -->
			</div>
			
			<div class="recommend fr"> 
				<h2>推荐辩手</h2>
				<ul>
					<li class="rec-panel" v-for="item in recommend_items"  v-cloak>
						<a href="#">
							<div class="u-head fl"><img v-bind:src="item.cover"></div>
							<div class="u-info"> 
								<div class="u-name">{{item.user_name}}</div> 
								<div class="u-summary">{{item.user_summary}}</div> 
							</div>
						</a>
					</li>
				</ul>
				<div class="contact-us">
					<img class="fl" src="/static/img/2code.jpg">
					<div class="label">联系我们:</div>
					<div class="info">辩否官方QQ群：216560849 <br> 或关注辩否微信公众号</div>
				</div>
			</div>
		</div>
		
		<% include include/footer.html %>
		
		<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/vue/2.2.1/vue.min.js"></script> 
		<script src="/static/script/mock.js"></script>
		<script src="/static/script/common.js"></script>
		<script src="/static/script/jquery.flexText.js"></script>  
		<script src="/static/script/pages/detail.js"></script> 
	</div>
</body>
</html> 