<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="不超过150个字符">
    <meta name="keywords" content="">
    <meta name="author" content="name, email@gmail.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="path/to/favicon.ico">
	<title><%=title%></title>

	<link rel="stylesheet" type="text/css" href="/static/css/index.css">

</head>
<body>
	<div id="root">
		<div class="header">
			<div class="h-content">
				<a class="logo fl" href="/index">辩否</a>
				<div class="search-box fl">
					<input type="text" name="" placeholder="搜索辩题/辩手"> 
					<i></i>
				</div>
				<ul class="clear nav fl">
					<li><a class="current" href="#">对论</a></li> 
					<li><a href="#">约辩</a></li>
					<li><a href="#">辩手</a></li>
				</ul>
				<div class="login-box fr"> 
					<a class="logo-wx fl" href="javascript:;">登录</a>
					<a class="release-add fr" href="javascript:;"></a>
				</div>
			</div>
		</div>
		<div class="show-img"></div>
		<div class="content-wrap clear">
			<div class="content fl">
				 <ol class="tags clear">
				 	<li class="current">热门</li>
				 	<li>热门</li>
				 	<li>热门</li>
				 	<li>热门</li>
				 	<li>热门</li>
				 	<li>热门</li><li>热门</li>
				 	<li>热门</li>
				 	<li>热门</li>
				 	<li>热门</li>
				 	<li>热门</li><li>热门</li>
				 	<li>热门</li>
				 	<li>热门</li>
				 </ol>
				 <ul class="topic-list">
				 	<li class="topic-panel">
				 		<h3>三十个字的标题是多少三十个字的标题是多少三十个字的标题是多少 
				 			<div class="fr number"><span class="blue">352</span>&nbsp;/&nbsp;<span class="red">5858</span></div> 
				 		</h3>
				 		<div class="topic-content clear">
				 			<div class="head fl"><img src="/static/img/test/head.jpg"></div>
				 			<div class="info">  
				 				<div class="user-info clear">
					 				<span class="user-name fl" >程浩</span><span class="user-summary fl">我是伯爵，我在城堡。</span>
					 				<span class="fr count blue">5555</span>  
					 			</div>
					 			<div class="summary">
					 				我二十一岁时，正在云南插队。陈清扬当时二十六岁，就在我插队的地方当医生。我在山下十四队，她在山上十五队。有一天她从山上下来，和我讨论她不是破鞋的问题。那时我还不大认识她，只能说有一点知道。她要讨论的事是这祥的：虽然所有的人都说她是一个破鞋，但她以为自己不是的。因为破鞋.
					 			</div>
				 			</div>
				 		</div>
				 	</li>
				 	<li class="topic-panel">
				 		<h3>三十个字的标题是多少三十个字的标题是多少三十个字的标题是多少 
				 			<div class="fr number"><span class="blue">352</span>&nbsp;/&nbsp;<span class="red">5858</span></div> 
				 		</h3>
				 		<div class="topic-content clear">
				 			<div class="head fl"><img src="/static/img/test/head.jpg"></div>
				 			<div class="info">  
				 				<div class="user-info clear">
					 				<span class="user-name fl" >程浩</span><span class="user-summary fl">我是伯爵，我在城堡。</span>
					 				<span class="fr count blue">5555</span>  
					 			</div>
					 			<div class="summary">
					 				我二十一岁时，正在云南插队。陈清扬当时二十六岁，就在我插队的地方当医生。我在山下十四队，她在山上十五队。有一天她从山上下来，和我讨论她不是破鞋的问题。那时我还不大认识她，只能说有一点知道。她要讨论的事是这祥的：虽然所有的人都说她是一个破鞋，但她以为自己不是的。因为破鞋.
					 			</div>
				 			</div>
				 		</div>
				 	</li>
				 	<li class="topic-panel">
				 		<h3>三十个字的标题是多少三十个字的标题是多少三十个字的标题是多少 
				 			<div class="fr number"><span class="blue">352</span>&nbsp;/&nbsp;<span class="red">5858</span></div> 
				 		</h3>
				 		<div class="topic-content clear">
				 			<div class="head fl"><img src="/static/img/test/head.jpg"></div>
				 			<div class="info">  
				 				<div class="user-info clear">
					 				<span class="user-name fl" >程浩</span><span class="user-summary fl">我是伯爵，我在城堡。</span>
					 				<span class="fr count blue">5555</span>  
					 			</div>
					 			<div class="summary">
					 				我二十一岁时，正在云南插队。陈清扬当时二十六岁，就在我插队的地方当医生。我在山下十四队，她在山上十五队。有一天她从山上下来，和我讨论她不是破鞋的问题。那时我还不大认识她，只能说有一点知道。她要讨论的事是这祥的：虽然所有的人都说她是一个破鞋，但她以为自己不是的。因为破鞋.
					 			</div>
				 			</div>
				 		</div>
				 	</li>
				 	<li class="topic-panel">
				 		<h3>三十个字的标题是多少三十个字的标题是多少三十个字的标题是多少 
				 			<div class="fr number"><span class="blue">352</span>&nbsp;/&nbsp;<span class="red">5858</span></div> 
				 		</h3>
				 		<div class="topic-content clear">
				 			<div class="head fl"><img src="/static/img/test/head.jpg"></div>
				 			<div class="info">  
				 				<div class="user-info clear">
					 				<span class="user-name fl" >程浩</span><span class="user-summary fl">我是伯爵，我在城堡。</span>
					 				<span class="fr count blue">5555</span>  
					 			</div>
					 			<div class="summary">
					 				我二十一岁时，正在云南插队。陈清扬当时二十六岁，就在我插队的地方当医生。我在山下十四队，她在山上十五队。有一天她从山上下来，和我讨论她不是破鞋的问题。那时我还不大认识她，只能说有一点知道。她要讨论的事是这祥的：虽然所有的人都说她是一个破鞋，但她以为自己不是的。因为破鞋.
					 			</div>
				 			</div>
				 		</div>
				 	</li>
				 	<li class="topic-panel">
				 		<h3>三十个字的标题是多少三十个字的标题是多少三十个字的标题是多少 
				 			<div class="fr number"><span class="blue">352</span>&nbsp;/&nbsp;<span class="red">5858</span></div> 
				 		</h3>
				 		<div class="topic-content clear">
				 			<div class="head fl"><img src="/static/img/test/head.jpg"></div>
				 			<div class="info">  
				 				<div class="user-info clear">
					 				<span class="user-name fl" >程浩</span><span class="user-summary fl">我是伯爵，我在城堡。</span>
					 				<span class="fr count blue">5555</span>  
					 			</div>
					 			<div class="summary">
					 				我二十一岁时，正在云南插队。陈清扬当时二十六岁，就在我插队的地方当医生。我在山下十四队，她在山上十五队。有一天她从山上下来，和我讨论她不是破鞋的问题。那时我还不大认识她，只能说有一点知道。她要讨论的事是这祥的：虽然所有的人都说她是一个破鞋，但她以为自己不是的。因为破鞋.
					 			</div>
				 			</div>
				 		</div>
				 	</li>
				 	<li class="topic-panel">
				 		<h3>三十个字的标题是多少三十个字的标题是多少三十个字的标题是多少 
				 			<div class="fr number"><span class="blue">352</span>&nbsp;/&nbsp;<span class="red">5858</span></div> 
				 		</h3>
				 		<div class="topic-content clear">
				 			<div class="head fl"><img src="/static/img/test/head.jpg"></div>
				 			<div class="info">  
				 				<div class="user-info clear">
					 				<span class="user-name fl" >程浩</span><span class="user-summary fl">我是伯爵，我在城堡。</span>
					 				<span class="fr count blue">5555</span>  
					 			</div>
					 			<div class="summary">
					 				我二十一岁时，正在云南插队。陈清扬当时二十六岁，就在我插队的地方当医生。我在山下十四队，她在山上十五队。有一天她从山上下来，和我讨论她不是破鞋的问题。那时我还不大认识她，只能说有一点知道。她要讨论的事是这祥的：虽然所有的人都说她是一个破鞋，但她以为自己不是的。因为破鞋.
					 			</div>
				 			</div>
				 		</div>
				 	</li>
				 </ul>
			</div>

			<div class="recommend fr"> 
				<h2>推荐辩手</h2>
				<ul>
					<li class="rec-panel">
						<div class="u-head fl"><img src="/static/img/test/head.jpg"></div>
						<div class="u-info">
							<div class="u-name">伯爵在城堡</div>
							<div class="u-summary">我是伯爵在城堡，我喜欢阅读，也喜欢写作。。。</div>
						</div>
					</li>
					<li class="rec-panel">
						<div class="u-head fl"><img src="/static/img/test/head.jpg"></div>
						<div class="u-info">
							<div class="u-name">伯爵在城堡</div>
							<div class="u-summary">我是伯爵在城堡，我喜欢阅读，也喜欢写作。。。</div>
						</div>
					</li>
					<li class="rec-panel">
						<div class="u-head fl"><img src="/static/img/test/head.jpg"></div>
						<div class="u-info">
							<div class="u-name">伯爵在城堡</div>
							<div class="u-summary">我是伯爵在城堡，我喜欢阅读，也喜欢写作。。。</div>
						</div>
					</li>
					<li class="rec-panel">
						<div class="u-head fl"><img src="/static/img/test/head.jpg"></div>
						<div class="u-info">
							<div class="u-name">伯爵在城堡</div>
							<div class="u-summary">我是伯爵在城堡，我喜欢阅读，也喜欢写作。。。</div>
						</div>
					</li>
				</ul>
				<div class="contact-us">
					<img class="fl" src="/static/img/2code.jpg">
					<div class="label">联系我们:</div>
					<div class="info">辩否官方QQ群：216560849 <br> 或关注辩否微信公众号</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<p>辩否基因群 216560849 　广州书田科技有限公司 　粤ICP备16070759号-1</p>
		</div>
	</div>
</body>
</html>