<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title><%=title%></title>

	<link rel="stylesheet" type="text/css" href="/static/css/subject.css">

</head>
<body>
	<div id="root" style="background: #f3f3f3;">
		<% include include/header.html %>
		
		<div class="show-img"><h2>发出声音，发现不同</h2><p>make a sound ,find different</p></div> 
		
		<div class="content-wrap content-subject clear">
			<h2 class="sub-title">最新约辩</h2>
			<ul class="sub-panel">
				<li class="sub-item">
					<h3 class="s-title">年轻人该如何提高眼界，摆脱思维局限？</h3> 
					<div class="s-time"><span>2016.12.11 12:00 结束</span><span>4545</span></div>
					<div class="clear">
						<div class="u-head fl"><img src="/static/img/test/head.jpg"></div>
						<div class="progress-box fl">
							<div class="progress"><span class="left"></span><span class="right"></span></div>
							<div class="clear"><span class="fl">伯爵</span><span class="fr">乘风破烂</span></div>
						</div>
						<div class="u-head fr"><img src="/static/img/test/head2.jpg"></div> 
					</div>
				</li>
				<li class="sub-item">
					<h3 class="s-title">年轻人该如何提高眼界，摆脱思维局限？</h3> 
					<div class="s-time"><span>2016.12.11 12:00 结束</span><span>4545</span></div>
					<div class="clear">
						<div class="u-head fl"><img src="/static/img/test/head.jpg"></div>
						<div class="progress-box fl">
							<div class="progress"><span class="left"></span><span class="right"></span></div>
							<div class="clear"><span class="fl">伯爵</span><span class="fr">乘风破烂</span></div>
						</div>
						<div class="u-head fr"><img src="/static/img/test/head2.jpg"></div> 
					</div>
				</li>
				<li class="sub-item">
					<h3 class="s-title">年轻人该如何提高眼界，摆脱思维局限？</h3> 
					<div class="s-time"><span>2016.12.11 12:00 结束</span><span>4545</span></div>
					<div class="clear">
						<div class="u-head fl"><img src="/static/img/test/head.jpg"></div>
						<div class="progress-box fl">
							<div class="progress"><span class="left"></span><span class="right"></span></div>
							<div class="clear"><span class="fl">伯爵</span><span class="fr">乘风破烂</span></div>
						</div>
						<div class="u-head fr"><img src="/static/img/test/head2.jpg"></div> 
					</div>
				</li>
				<li class="sub-item">
					<h3 class="s-title">年轻人该如何提高眼界，摆脱思维局限？</h3> 
					<div class="s-time"><span>2016.12.11 12:00 结束</span><span>4545</span></div>
					<div class="clear">
						<div class="u-head fl"><img src="/static/img/test/head.jpg"></div>
						<div class="progress-box fl">
							<div class="progress"><span class="left"></span><span class="right"></span></div>
							<div class="clear"><span class="fl">伯爵</span><span class="fr">乘风破烂</span></div>
						</div>
						<div class="u-head fr"><img src="/static/img/test/head2.jpg"></div> 
					</div>
				</li>
				<li class="sub-item">
					<h3 class="s-title">年轻人该如何提高眼界，摆脱思维局限？</h3> 
					<div class="s-time"><span>2016.12.11 12:00 结束</span><span>4545</span></div>
					<div class="clear">
						<div class="u-head fl"><img src="/static/img/test/head.jpg"></div>
						<div class="progress-box fl">
							<div class="progress"><span class="left"></span><span class="right"></span></div>
							<div class="clear"><span class="fl">伯爵</span><span class="fr">乘风破烂</span></div>
						</div>
						<div class="u-head fr"><img src="/static/img/test/head2.jpg"></div> 
					</div>
				</li> 
				<li class="sub-item">
					<h3 class="s-title">年轻人该如何提高眼界，摆脱思维局限？</h3> 
					<div class="s-time"><span>2016.12.11 12:00 结束</span><span>4545</span></div>
					<div class="clear">
						<div class="u-head fl"><img src="/static/img/test/head.jpg"></div>
						<div class="progress-box fl">
							<div class="progress"><span class="left"></span><span class="right"></span></div>
							<div class="clear"><span class="fl">伯爵</span><span class="fr">乘风破烂</span></div>
						</div>
						<div class="u-head fr"><img src="/static/img/test/head2.jpg"></div> 
					</div>
				</li>
			</ul>
		</div>

		<% include include/footer.html %>

	</div>
</body>
</html>